@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: your base theme tweaks */
@layer base {
  html {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  body {
    @apply bg-neutral-950 text-neutral-100;
  }
}
